.app {
    /* Add app styles here */
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
    #interface {
        display: none;
    }
    .artifact {
        page-break-inside: avoid;
        /* page-break-before: always; */
        /* clear: both; */
    }
}

.x-body{
    color: red;
}
.x-panel-header-text-container-default {
    color: #145FAC;
    font-size: 13px;
    font-weight: bold;
    font-family: ProximaNova,Helvetica,Arial;
    text-transform: capitalize;
}
#panel_Filter_Multi-body, #panel_Filter_Single-body, #panel_Filter_Actions-body{
    border: 1px solid #bbb !important;
    padding: 10px               !important;
}