.app {
    /* Add app styles here */
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
    #interface {
        display: none;
    }
    .artifact {
        page-break-inside: avoid;
        /* page-break-before: always; */
        /* clear: both; */
    }
}

